* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;

}
.col-left {
    flex: 1;
    background-color: rgb(207, 194, 194);
    min-height: 100%;
}

.col-right  {
    flex: 3;
    min-height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
}